html{
    overflow-x: hidden;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.menu{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    ul{
        li{
            list-style: none;
            a{
                text-decoration: none;
                font-size: 40px;
                color: #fff;
            }
        }
    }
}

#show{
    transition: 1s;
    z-index: 1;
    opacity: 1;
    // transform: rotate(0deg);
    // transform: translateX(0px);
    transform: translateY(0px);

}
#hide{
    transition: 1s;
    z-index: 0;
    opacity: 0;
    // transform: rotate(360deg);
    // transform: translateX(1000px);
    transform: translateY(-1000px);
}