/* @import url('color.css'); */
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Water+Brush&display=swap");

.text {
  font-size: 50px;
  /* font-weight: bolder; */
  color: black;
  /* letter-spacing: 10px;
    line-height: 100px; */
  /* font-style: italic; */
  text-align: justify;
  /* text-transform: lowercase; */
  /* text-decoration: underline; */
  /* font-family: 'Courier New', Courier, monospace, sans-serif; */
  /* font-family: 'Water Brush', cursive; */
}
