body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .main-box{ */
/* height: 100vh;
    display: flex; */
/* flex-direction: row-reverse;
    flex-direction: row;
    flex-direction: column;
    flex-direction: column-reverse; */
/* justify-content: flex-start; */
/* justify-content: flex-end; */
/* justify-content: space-around; */
/* justify-content: space-between; */
/* justify-content: space-evenly; */
/* justify-content: center; */
/* align-items: flex-start; */
/* align-items: flex-end; */
/* align-items: center; */
/* flex-wrap: wrap; */
/* flex-wrap: wrap-reverse; */

/* } */

/* .main-box .box{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 5px;

    font-size: 50px;
    color: #fff;
} */

.main-infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 2);
  height: 50vh;
  background-color: #333;
}
.main-infoBox .infoBox {
  width: 100px;
  height: 100px;
  background-color: red;
  /* border-top-left-radius: 10px; */
  /* border-radius: 50%; */
}
