// .nav{
//     background-color: pink;
//     display: flex;
//     width: 100%;
//     align-items: center;
//     justify-content: space-between;
// }

.box{
    border: 3px solid #fff;
    height: 100px;
    background-color: red;
}